# Backend
app/target/
app/Cargo.lock
app/.sqlx/
holes/runner
holes/runner.exe
holes/runner.pdb

# Frontend
content/node_modules/
content/*.lock
content/package-lock.json

# DB
data/

# Extra
.vscode/
.idea/
.env

# Nginx
logs/
client_body_temp/
fastcgi_temp/
proxy_temp/
scgi_temp/
uwsgi_temp/

# Public
public/css/
public/js/