<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{hole.title}}</title>
    {{> meta}}
    <link rel="stylesheet" href="/css/editor.css">
    <script type="module" src="/js/hole.js" defer></script>
</head>

<body>
    <header>
        <header class="header">
            {{> navbar}}
        </header>
    </header>
    <main>
        <div class="container">
            <h2>{{hole.title}}</h2>
            <div class="select">
                <select id="selector"></select>
            </div>
            <button class="btn">Run Code</button>
            <div id="editor"></div>

        </div>
    </main>
    <footer>

    </footer>
</body>

</html>