<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>runtime.golf</title>
    <link rel="stylesheet" href="/css/root.css">
    <script type="module" src="/js/test.js" defer></script>
</head>
<body>
    <header>
        
    </header>
    <main>
        <div class="editor-container">
            <h2>Your Solution</h2>
            <div id="editor"></div>
            <button id="run-code" type="button">Run Code</button>
        </div>
    </main>
    <footer>
        
    </footer>
</body>
</html>