<!DOCTYPE html>
<html lang="en">

<head>
    <title>runtime.golf</title>
    {{> meta}}
</head>

<body>
    <header class="header">
        {{> navbar}}
    </header>
    <main>
        <div class="holes">
            {{#each holes}}
            <a href="/hole/{{@key}}" class="hole">
                <span>{{@key}}</span>
            </a>
            {{/each}}
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>