<!DOCTYPE html>
<html lang="en">

<head>
    <title>runtime.golf</title>
    <meta name="title" content="Runtime Golf">
    <meta name="description"
        content="Runtime Golf takes a new approach to code golf, focused on runtime efficiency rather than code length. Compete to solve challenges with the fastest code possible, using a variety of programming languages.">
    {{> meta}}
</head>

<body>
    <header class="header">
        {{> navbar}}
    </header>
    <main>
        <div class="holes">
            {{#each holes}}
            <a href="/holes/{{@key}}" class="hole">
                <span>{{@key}}</span>
            </a>
            {{/each}}
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>