<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{profile.username}} @ runtime.golf</title>
    <link rel="stylesheet" href="/css/user.css">
    <script type="module" src="/js/user.js" defer></script>
    {{> meta}}
    <meta id="id" data-user="{{profile.id}}">
</head>

<body>
    <header class="header">
        {{> navbar}}
    </header>
    <main>
        <div class="profile">
            <div class="userinfo">
                <img src="https://avatars.githubusercontent.com/u/{{profile.github_id}}" class="headshot">
                <div class="stats">
                    <h2>
                        {{profile.username}}
                        {{#if profile.admin}}
                        <a class="admin" href="/about#staff">*</a>
                        {{/if}}
                    </h2>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>