<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{profile.username}}</title>
    {{> meta}}
</head>

<body>
    <header class="header">
        {{> navbar}}
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>

</html>