<nav class="navbar">
    <a href="/" class="navbar-brand">
        <span>runtime.golf</span>
    </a>

    <div class="navbar-divider"></div>

    <div class="navbar-menu">
        <div class="navbar-nav">
            <a href="/" class="btn">
                <svg alt="Holes" class="icon" viewBox="0 0 24 24" fill="currentColor">
                    <use href="/assets/icons/flag.svg#1"></use>
                </svg>
                <span>Holes</span>
            </a>
            <a href="/leaderboards" class="btn">
                <svg alt="Leaderboards" class="icon" viewBox="0 0 24 24" fill="currentColor">
                    <use href="/assets/icons/users.svg#1"></use>
                </svg>
                <span>Leaderboards</span>
            </a>
            <a href="/about" class="btn">
                <svg alt="About" class="icon" viewBox="0 0 24 24" fill="currentColor">
                    <use href="/assets/icons/book.svg#1"></use>
                </svg>
                <span>About</span>
            </a>
        </div>

    </div>
    {{#if user}}
    <div class="navbar-actions">
        <a href="/user/{{user.username}}" class="btn">
            <img src="https://avatars.githubusercontent.com/u/{{user.github_id}}" alt="Profile Picture" class="pfp" />
            <span>{{user.username}}</span>
        </a>
    </div>
    {{else}}
    <div class="navbar-actions">
        <a href="/api/github" class="btn btn-github">
            <svg alt="Github Login" class="icon icon-github" viewBox="0 0 24 24" fill="currentColor">
                <use href="/assets/icons/github.svg#1"></use>
            </svg>
            <span>Login with Github</span>
        </a>
    </div>
    {{/if}}
</nav>